body,
html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}

.bg-image {
  background-image: url(./image-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
}
h1 {
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #ffffff;
  font-weight: 800;
  font-size: 4vw;
  line-height: 5.5rem;
}

h6 {
  color: #ffffff;
}

h5 {
  color: rgba(33, 71, 86, 1);
  font-size: 1.5rem;
  line-height: 2.3rem;
}

.btn-primary {
  background-color: #214756;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.header {
  margin-top: 15rem;
}

.page {
  padding-left: 8rem;
}

.side-nav {
  transform: rotate(90deg);
  text-decoration: none;
  font-size: 12px;
  color: white;
}
.card {
  width: 360px;
  padding: 1.8rem 1.5rem;
}

.card-text {
  color: rgba(33, 71, 86, 1);
  font-size: 0.9rem;
  font-weight: 300;
}

.btn-primary {
  padding: 0.5rem 2rem;
}

.sidebar {
  position: fixed;
  right: 0;
  width: 50px;
  height: 100%;
  background: rgba(116, 117, 109, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

@media (max-width: 768px) {
  .sidebar {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgba(116, 117, 109, 1);
    display: flex;
  }
}

@media (max-width: 768px) {
  .side-nav {
    transform: rotate(0deg);
    text-decoration: none;
    font-size: 12px;
    color: white;
  }
}

.sidebar a {
  display: block;
  padding: 16px;
  text-decoration: none;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 576px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

@media (max-width: 992px) {
  .bg-image {
    padding-left: 0rem;
  }
}

@media (max-width: 992px) {
  .col-md-2 {
    text-align: center;
  }
}

@media (max-width: 992px) {
  h1 {
    text-align: center;
    font-size: 2rem;
  }
}
@media (max-width: 992px) {
  .col-md-8 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .col-md-8 {
    margin-left: 0rem;
  }
}

@media (max-width: 992px) {
  .col-md-6 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 992px) {
  .page {
    padding-left: 0rem;
    text-align: center;
  }
}

/* 
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

@media screen and (max-width: 576px) {
  .header {
    margin-top: 3rem;
  }

  h1 {
    line-height: 3rem;
  }
}
